//our icon
aaaa ICON "Agender.ico"

#include "wx/msw/wx.rc"
#include "version.h"

#ifdef _UNICODE
    #define LANG "04090000"
#else
    #define LANG "040904b0"
#endif

//this is shown in the windows explorer
//when click on properties
1 VERSIONINFO
 FILEVERSION RC_FILEVERSION
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        // US English Ascii; see http://msdn.microsoft.com/library/psdk/winui/rc_3rxn.htm for codes
        BLOCK LANG
        BEGIN
            VALUE "Comments", "A cross-platform schedule tool\0"
            VALUE "CompanyName", "Virtuosonic\0"
            VALUE "FileDescription", "The Agender main executable\0"
            VALUE "FileVersion", RC_FILEVERSION_STRING
            VALUE "LegalCopyright", "Copyright (C) 2009-2011 Gabriel Espinoza\0"
            VALUE "ProductName", "Agender\0"
            VALUE "ProductVersion",  RC_FILEVERSION_STRING
        END
    END
END
