<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="AgenderFrame">
		<title>Agender</title>
		<centered>1</centered>
		<bg>wxSYS_COLOUR_MENUBAR</bg>
		<parent_arg>0</parent_arg>
		<id_arg>0</id_arg>
		<style>wxCAPTION|wxSYSTEM_MENU|wxRESIZE_BORDER|wxCLOSE_BOX|wxFRAME_TOOL_WINDOW|wxTAB_TRAVERSAL|wxWANTS_CHARS</style>
		<handler function="OnClose" entry="EVT_CLOSE" />
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>2</cols>
			<growablecols>0</growablecols>
			<growablerows>0,1</growablerows>
			<object class="sizeritem">
				<object class="wxCalendarCtrl" name="ID_CALENDARCTRL1" variable="CalendarCtrl1" member="yes">
					<style>wxCAL_SEQUENTIAL_MONTH_SELECTION|wxSUNKEN_BORDER</style>
					<handler function="OnCalendarCtrl1Changed" entry="EVT_CALENDAR_SEL_CHANGED" />
					<handler function="OnCalendarCtrl1MonthChanged" entry="EVT_CALENDAR_MONTH" />
					<handler function="OnCalendarCtrl1MonthChanged" entry="EVT_CALENDAR_YEAR" />
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxListBox" name="ID_LISTBOX1" variable="ListBox1" member="yes">
					<default>-1</default>
					<handler function="OnListBox1Select" entry="EVT_LISTBOX" />
					<handler function="OnListBox1DClick" entry="EVT_LISTBOX_DCLICK" />
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="TextCtrl1" member="yes">
					<enabled>0</enabled>
					<style>wxTE_MULTILINE|wxTE_AUTO_URL</style>
					<handler function="OnTextCtrl1Text" entry="EVT_TEXT" />
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer1" member="no">
					<orient>wxVERTICAL</orient>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON1" variable="BtnNuevo" member="yes">
							<label>Add &amp;note</label>
							<default>1</default>
							<focused>1</focused>
							<handler function="OnBtnNuevoClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON2" variable="BtnElim" member="yes">
							<label>&amp;Delete selection</label>
							<handler function="OnBtnElimClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON3" variable="Button3" member="yes">
							<label>&amp;About...</label>
							<handler function="OnButton3Click" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
