[Desktop Entry]
Name=Agender
Exec=Agender
GenericName=Agender
Icon=Agender
Terminal=false
Type=Application
Categories=Utility;Calendar;Schedule;Office
StartupNotify=true
Encoding=UTF-8
X-AppInstall-Package=Agender
Comment=A cross-platform schedule tool
Comment[es]=La agenda multiplataforma
Comment[fr]=Un outil de planification multiplate-forme
Comment[el]=Λογισμικό διαχείρισης προγράμματος που δουλεύει σε όλες τις πλατφόρμες
Comment[de]=Ein plattformunabhängiges Zeitplanungs-Werkzeug
Comment[pt]=Uma agenda multi-plataforma
Comment[sv]=Ett plattformsoberoende schema verktyg
Comment[zh]=跨平台日程表工具
Comment[ja]=クロスプラットフォームのスケジュール管理ツール
Comment[ro]=Un utilitar multi-platformă de planificare
Comment[he]=כלי ניהול זמן עבור מגוון פלטפורמות
MimeType=application/x-agender;text/calendar;
