[Desktop Entry]
Exec=Agender
Name=Agender
GenericName=Agender
Icon=Agender
Terminal=false
Type=Application
Comment=Schedule tool!
Categories=Utility;Calendar;0ffice;GTK;
