
* {
    font-family: Georgia,sans-serif;
}

body {
/*    margin: 0 auto;*/
    background: url(bg.png);
    background-attachment: fixed;
}
.container {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	padding: 10px;
	background: #ffffff;
	width: 60%;
	border: 1px solid #7C7C7C;
}
.lshadow {
	float: right;
	display: inline;
/*	clear: right;*/
	background: url(sha.png) repeat-y left;
}
.rshadow {
	float: left;
/*	clear: left;*/
	background: url(rsha.png) repeat-y right;
}

ul#menu {
	margin: 0px;
	display: inline;
	list-style: none;
	position: fixed;
	float: left;
}

ul#menu li {
	margin: 0;
	padding: 0;
	border: 1px solid #7C7C7C;
}

ul#menu li a {
	padding: 1em;
	display: block;
	text-decoration: none;
	color: #333;
	background: #F4F4F4;
	font-style: normal;
}

ul {
	padding-left: 5em;
}

/*li { margin: 3em;}*/
li#suse {list-style-image: url(SuSE-logo_48.png);}
li#mdv {list-style-image: url(mandriva-logo_48.png);}
li#fedora {list-style-image: url(Fedora-logo_48.png);}
li#tar {list-style-image: url(package-x-generic.png);}
li#svn {list-style-image: url(subversion.png);}
li#apple {list-style-image: url(Apple-logo_48.png);}
li#deb {list-style-image: url(Debian-logo_48.png);}
li#msw {list-style-image: url(Microsoft_Windows-logo_48.png);}

a {
    color: #47C4FF;
    font-weight: normal;
    text-decoration: none;
}

a:hover {
    color: #47C4FF;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
}

.menu {
    background-color: #344444;
    width: 200;
}

p {
	text-indent: 2em;
	text-align: justify;
}

img {
	border: none;
}


#vs_google_adsense {
	position: fixed;
	right: 20px;
	bottom: 20px;
}
