/******************************************
general style sheet for
Agender's website
******************************************/
* {
    font-family: Georgia,sans-serif;
    margin: 0;
}

body {
    background: url(bg.png) repeat;
    background-attachment: fixed;
    background-color: #ffffff;
}
.container {
	position: absolute;
	padding: 10px;
	background: #ffffff;
	right: 356px;
	left: 256px;
	display: block;
	border-left: 1px solid #7C7C7C;
	border-right: 1px solid #7C7C7C;
	min-height: 100%;
	/* IE doesn't support min-height,
	so we hack*/
	height: expression(this.scrollHeight < document.body.clientHeight ? "100%" : "auto");
}
.lshadow {
	float: right;
	display: inline;
/*	clear: right;*/
	background: url(sha.png) repeat-y left;
}
.rshadow {
	float: left;
/*	clear: left;*/
	background: url(rsha.png) repeat-y right;
}

a {
    color: #47C4FF;
    font-weight: normal;
    text-decoration: none;
}

a:hover {
    color: #47C4FF;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
}

p {
	text-indent: 2em;
	text-align: justify;
}

img {
	border: none;
	margin: 10;
}

.citado {
	font-size: .9em;
	font-family: serif;
	font-style: italic;
	padding: 2em;
}

#vs_google_adsense {
	position: absolute;
	right: 0px;
	top: 20px;
	/*width: 336px;
	height: 280px;
	background: #000000;*/
}

#vs_google_search_id {
	text-align: right;
	display: block;
}

#left_pane {
	position: absolute;
	top: 25ex;
	left: 2em;
}
