/***********************
style sheet for Agender's website download links
***********************/
ul#download {
	padding-left: 5em;
}

/*download icons*/
li#tar {list-style-image: url(package-x-generic.png);}
li#linux {list-style-image: url(Tux-logo_48.png);}
li#svn {list-style-image: url(subversion.png);}
li#apple {list-style-image: url(Apple-logo_48.png);}
li#msw {list-style-image: url(Microsoft_Windows-logo_48.png);}
/*awards icons*/
li#softpedia {list-style-image: url(softpedia.png);}
li#softoxi {list-style-image: url(softoxi5of5.png);}
