/**************************************************
style sheet for
Agender's website
download links
**************************************************/

ul#download {
	padding-left: 5em;
}


/*li { margin: 3em;}*/
/*download icons*/
li#suse {list-style-image: url(SuSE-logo_48.png);}
li#mdv {list-style-image: url(mandriva-logo_48.png);}
li#fedora {list-style-image: url(Fedora-logo_48.png);}
li#tar {list-style-image: url(package-x-generic.png);}
li#svn {list-style-image: url(subversion.png);}
li#apple {list-style-image: url(Apple-logo_48.png);}
li#deb {list-style-image: url(Debian-logo_48.png);}
li#msw {list-style-image: url(Microsoft_Windows-logo_48.png);}
/*awards icons*/
li#softpedia {list-style-image: url(softpedia.png);}
li#softoxi {list-style-image: url(softoxi5of5.png);}
