/***************************************
style sheet for navigation menu
of Agender website
***************************************/


#menu {}

#menu a {
	font-size: 1.1em;
}
#menu a#active {
	font-weight: bold;
}

#menu a:hover {
    font-weight: normal;
    font-style: normal;
    text-decoration: underline;
}
